

body{
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    gap: 10px;
}

#container{
    box-sizing:content-box;
    height:500px;
    width:500px;
    border: 1px solid black;
    display:flex;
    flex-wrap:wrap;
    margin :0px;
    padding:0px;
}

.colourSquare{
    box-sizing:border-box;
    border:1px solid black;
    color:white
}

.changeColourOfSquare{
    background-color:rgb(88, 9, 25);
}