*{
    box-sizing:border-box;
}

body{
    display:flex;
    justify-content:center;
    align-items:center;
}

#container{
    height:650px;
    width:650px;
    border: 1px solid black;
    display:flex;
    flex-wrap:wrap;
    margin :0px;
    padding:0px;
}

.colourSquare{
    border:1px solid black;
    color:white;
}